<!doctype html>
<html lang="en" data-bs-theme="light">

<head>

    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS v5.3.8 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
</head>

<body>
    <!-- <input type="text" name="" id="search-box" placeholder="search product"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="search-container">

                    <input type="text" id="search-box" class="form-control search-input" placeholder="Search...">
                    <i class="fas fa-search search-icon"></i>
                    <div id="results"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row ">
            {% for i in ingredients %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <button class="ingredient-button btn btn-info w-100 mb-2" data-id="{{i.id}}"
                    data-name="{{i.ingredient_name}}" style="color:black;">
                    {{ i.ingredient_name }}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="selected"></div>
    <!-- problem with this button when pressed without ingredient
     it shows 
     ValueError at /user/ilist
Field 'id' expected a number but got ''. 
     -->
    <form method="post" action="{% url 'ilist' %}" id="recipie-form">
        {% csrf_token %}
        <input type="hidden" id="selected-ingredients" name="selected-ingredients">
        <button type="submit">Find Recipies</button><span>
            <h3 style="color: red;">!!!!!problem with this button</h3>
        </span>
    </form>
    {% if recipies %}
    <h2>founded recipies</h2>
    {% for i in recipies %}
    <div class="d-flex ">
        <div class="border shadow black w-25 align-items-center justify-content-center"
            style="width: 50 px text-center">
            <h3>{{i.recipie_name}}</h3>
            <p>{{i.description}}</p>
            <a href="{% url 'buyrecipie' i.id %}" class="btn btn-primary m-3">make it</a>
            {% for i in user_input %}
            <h4>userinputed ids :{{i}}</h4>
            {% endfor %}
        </div>

    </div>

    {% endfor %}
    {% else %}
    <h2>No recipies found ! Add ingredients to find</h2>
    {% endif %}

    <script>

        const searchBox = document.getElementById("search-box")
        const results = document.getElementById("results")



        searchBox.addEventListener("keyup", function () {
            let query = this.value;
            fetch(`/search/?q=${query}`)
                .then(res => res.json())
                .then(data => {
                    results.innerHTML = "";
                    data.forEach(item => {
                        results.innerHTML += `
                        <button onclick="selectedIngredient(${item.id},'${item.ingredient_name}')">
                            ${item.ingredient_name}</button>
                        `;
                    })
                })
        })

    </script>

    <script>

        let selectedIngredients = [];
        function selectedIngredient(id, name) {
            console.log(selectedIngredients)
            if (!selectedIngredients.includes(id)) {
                selectedIngredients.push(id);
                document.getElementById("selected").innerHTML += `
                <span id="ingredient-${id}" class="badge bg-success p-3 fs-3">
                    ${name}
                    <button onclick="removeIngredient(${id})">❌</button>
                    </span>
                `
            }
        }

        function removeIngredient(id) {
            selectedIngredients = selectedIngredients.filter(item => item !== id);
            document.getElementById(`ingredient-${id}`).remove()
        }


        const ingredientButtons = document.querySelectorAll(".ingredient-button");

        ingredientButtons.forEach(button => {
            button.addEventListener("click", function () {
                console.log(this.dataset.name)
                const id = Number(this.dataset.id);
                const name = this.dataset.name;
                selectedIngredient(id, name);

            });
        });

        const form = document.getElementById("recipie-form")
        form.addEventListener("submit", function () {
            document.getElementById('selected-ingredients').value = selectedIngredients;
        })

    </script>


</body>

</html